*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box{
  width: 100%;
  height: 100vh;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.clock-frame{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(57, 63, 77, 0.54);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 200px;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}